<!-- Modified category page -->

{{ partial "header.html" . }}

<style>
  table.allposts,
  td.allposts-date,
  td.allposts-title {
    border: none;
  }

  td.allposts-date {
    padding: 0 10px 0 0;
  }

  td.allposts-title {
    font-size: 110%;
  }
</style>

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <header>
          <h2 class="entry-title">
            {{ .Title }}
          </h2>
          {{ .Params.snippet }}
        </header>

        {{ range .Data.Pages }}
        <article class="hentry" role="article">
          <header>
            <p class="meta">
              <time datetime="{{ .Date.Format " 2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            </p>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          </header>
          <div class="entry">
            {{ .Summary }}
          </div>
        </article>
        {{end}}
        <hr>
      </article>

    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}