{{ partial "header.html" . }}
{{ $baseUrl := .Site.BaseURL }}

<div id="main">
  <div id="content">
    <div class="blog-index">
      <article class="hentry" role="article">
      <h2>Overview about my latest content:</h2>
      {{ range .Data.Pages.GroupByDate "2006-01" }}
      <h4>{{ .Key }}</h4>
      <ul>
          {{ range .Pages }}
          <li> <a href="{{ .Permalink }}">{{ .Title }}</a> </li>
          {{ end }}
      </ul>
      {{ end }}
    </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}
