{{ partial "header.html" . }}
{{ $baseUrl := .Site.BaseURL }}

<div id="main">
  <div id="content">
    <div class="blog-index">
      <h1>Latest Posts</h1>
      {{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
      <article class="hentry" role="article">
        <header>
          <p class="meta">
            <time datetime="{{ .Date.Format " 2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
          </p>
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </header>
        <div class="entry">
          {{ .Summary }}
        </div>
      </article>
      {{end}}
      <hr>
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}